<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_postdispatch_catalog_product_edit">
        <observer name="custom_module_get_tax_class_value" instance="RLTSquare\TaxRuleAssignment\Observer\ApplyTaxRuleObserver" />
    </event>
</config>
